{% extends 'base.html' %}

{% block head %}
    {{ super() }}
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <style>
        img {width: 100px; height: auto;}
        span {font-size:15px;}
    </style>
{% endblock %}

{% block body %}
<div class='row'>
    <div class='col-md-4'></div>
    <div class='col-md-4' style='margin-top:80px;'>
        <div class='container' style='width:320px;'>
            {% include 'flashes.html' %}
        {% include 'logo.html' %}
        <form method='post' action=''>
            {{ form.hidden_tag() }}
            <fieldset class='form-group'>
            <div class='form-group'>
                {% if form.email.errors %}
                    {{ form.email(class='form-control form-control-lg is-invalid') }}
                    <div class='invalid-feedback'>
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class='form-control mb-2 ml-2 mt-3', placeholder='@', autofocus=autofocus) }}
                {% endif %}
                
                {% if form.password.errors %}
                    {{ form.password(class='form-control form-control-lg is-invalid') }}
                    <div class='invalid-feedback'>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class='form-control mb-2 ml-2', placeholder='Password') }}
                {% endif %}
            </div>
            <div class='form-check'>
                {{ form.remember(class='form-check-input') }}
                {{ form.remember.label(class='form-check-label') }}
            </div>
            </fieldset>
            
            <div class='form-group'>
                {{ form.submit(class='btn btn-primary btn-lg') }}
            </div>
        </form>
        
        <p class='on-bottom'>Haven't Got An Account ? <br><a href='{{ url_for("auth.register") }}'>Create account</a>&nbsp;&nbsp;today !</p>
        
    </div>
    </div>
    <div class='col-md-4'><a id='about_btn' href='{{ url_for("main.about") }}'>Your Privacy First</a></div>
</div>
{% endblock %}
